.status_update{
      @include size (170px, 100%);
      @include flex-props (column);
      background-color: $white;
      
      .status_update__header{
            @include size (20%, 100%);
            @include flex-props (row);
            justify-content: flex-start;
            .header__menuItem{
                  margin: 10px;
            }
      }
      
      .status_update__content{
            @include size (80%, 100%);
            @include flex-props (row);
            align-items: center;    
            .profile_pic{
                  @include size (50px, 50px);
                  border-radius: 50%;
                  background-color: red;
                  margin: 20px;
            }  
            .status_update__input{
                  border: none;
                  @include size (100%, calc(100% - 50px));
                  overflow-wrap: break-word;
            }
      }
      .status_update__toolbox{
            @include flex-props (row);
            justify-content: flex-start;
            background-color: $almostWhite;
            height: 25%;
      }
}
.main_feed__feed{
      @include flex-props (column);            
      .feed-item{
            // @include size (200px, 100%);
            width: 100%;
            background-color: $white;
            margin-top: 20px;
            .feed-item__header{
                  padding: 10px;
                  @include flex-props(row);
                  justify-content: space-between;
                  padding-bottom: 10px;
                  .header_left{
                        @include flex-props (column);
                        .user_name{
                              font-weight: bold;
                              font-size: 18px;
                        }
                        .timestamp{
                              font-size: 12px;
                              margin-top: 5px;
                        }
                  }
            }
            .post_text{
                  padding: 10px;
            }
            .edit_post{
                  padding: 10px;
                  border: none;
            }
      }
      .post_actions{
            @include flex-props(row);
            padding: 10px;
            .likes_container{
                  .like_btn{
                        padding-right: 5px;
                        padding-left: 5px;
                  }
                  .likes_counter{
                        padding-right: 5px;
                        padding-left: 5px;

                  }
            }
            .edit_post_button{

            }
      }
}