// colors
$blue: #4267b2;
$darkblue: #29487d;
$lightBlue:  #8b9dc3; 
$grey:  #dfe3ee; 
$almostWhite:  #f7f7f7;     
$white:  #ffffff;
//sizes
$topH: 42px;

@mixin flex-props($dir){
      display: flex;
      flex-direction: $dir;
}

@mixin size($h, $w){
      height: $h;
      width: $w;
}

@mixin order($m, $p){
      margin: $m;
      padding: $p;
}
